{% load static %}

{% if recent_entries %}
<ol class="socialfeed">
  {% for entry in recent_entries|slice:":5" %}
  <li>
  <p>
  <a class="feed" href="{{ entry.feed.url }}">
    {% if entry.feed.source == 'FB' %}<img src="{% get_static_prefix %}img/facebook_21.png" />{% endif %}
    {% if entry.feed.source == 'TW' %}<img src="{% get_static_prefix %}img/twitter_21.png" />{% endif %}
    {% if entry.feed.source == 'RA' %}<img src="{% get_static_prefix %}img/rss_21.png" />{% endif %}
    {{ entry.feed.title }}
  </a>
  </p>
  <p class="content">{{ entry.content|safe|truncatewords:20 }}</p>
  <a class="readmore" href="{{ entry.url }}">Read More »</a>
  <p>{{ entry.posted_on|date:"M j" }}</p>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>There don't seem to be any recent entries.</p>
{% endif %}
