<!DOCTYPE html>
<html>
  <head>
    <title>Search Social Media</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/feeds.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.highlight-3.yui.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/feeds.js"></script>
  </head>

  <body>
    <h2 style="text-align:center">Search Social Media Feeds</h2>
    <div id="f">
      <form>
        <input type="text" name="search" id="search" /><br />
        <label for="sort">Sort:</label>
        <input type="radio" name="sort" id="sort" value="desc" checked />Descending<br />
        <input type="radio" name="sort" id="sort" value="asc" />Ascending<br />
      </form>

      <div id="results">
        <h3>Search results:</h3>
        <ol id="results">
        </ol>
      </div>
    </div>
  </body>
</html>
