{% load feincms_thumbnail feincms_extras %}
<div class="image {% if align == 0 %}center{% else %}{% if align == 1 %}left{% else %}{% if align == 2 %}right{% endif %}{% endif %}{% endif %}" style="width:{% if size %}{{ size|slice:":3" }}{% else %}{{ image|width }}{% endif %}px"> {# assumes size's X <= 999 #}
  {% if link %}
  <a href="{{link}}">
  {% else %}
  <a href="{{ image.file.url }}">
  {% endif %}
  <img src="{% if size %}{{ image.file|thumbnail:size }}{% else %}{{ image.file.url }}{% endif %}" alt="{{ caption }}" />
  </a>

  {% if caption %}<div class="caption"><p class="caption">{{ caption }}</p></div>{% endif %}
</div>
