body { width:600px; margin:0 auto; color: #333; }

#search {
  width:250px;
  margin: 0 auto;
  border:solid 1px #999;
  outline:0;
  padding: 5px 5px;
  border-radius:5px;
}

#search:focus {
  border:solid 1px #555;
}

ol#results {
    list-style-type: none;
    padding-left:0;
}

ol#results a {
  color: #333;
  text-decoration: none;
}

ol#results a:hover {
  color: #555;
  text-decoration: underline;
}

ol#results .feedpic { float:left; padding-right:16px; padding-top: 2px;}

.highlight { background-color:yellow; }
