html {
  font: 14px/1.5 "Helvetica Neue", Arial, "Liberation Sans", sans-serif;
  color: #333;
}

body {
}

img { height:auto; max-width: 100%; }

a { color: #499DF2; text-decoration:none; }
a:hover { text-decoration: underline; }

#stripe {  
  border-top:5px solid #a2e663;
  width:100%;
}

#top-nav { 
  height:42px;
}

.nav {
  list-style:none;
  font-size:16px;
  font-weight:bold;
  position:relative;
  z-index:5;
}

.nav li {
  float:left;
  position:relative;
}

.nav a {
  display:block;
  color:#333;
  background:white;
  text-decoration:none;
}

.nav a:hover {
}

#top {
  float:right;
}
#top li {
}
#top a {
  padding:15px 22px 5px 7px;
  border-radius: 0px 0px 8px 8px;
}
#top a:hover {
  background: #a2e663;
  color:white;
  text-decoration:none;
}
#top .active {
  background: #a2e663;
}

#sub {
  width:100%;
  clear:right;
}
#sub li {
  margin-top:5px;
}
#sub a {
  padding:5px 10px 5px 10px;
}
#sub a:hover {
  text-decoration:none;
  color: #a23663;
}
#sub .active {
  margin-top:0px;
  border-top: #a2e663 solid 5px;
}


#header {
  background:url('../img/head-creek.jpg');
  position:relative;
  margin-top:12px;
  border-bottom:5px #ccc solid;
  height:210px;
}

#header-text {
  background:rgba(0,0,0,0.75);
  padding: 8px 16px;
  position:absolute;
  top: 28px;
  left: 18px;
}

#header-text h1, #header-text h2 {
  font-family: Baskerville, serif;
  color:#dedede;
}

#header-text h1 {
  font-size: 3em;
  line-height: 1.5em;
  font-weight:normal;
}

#header-text h2 {
  font-size: 2em;
  line-height: 1em;
  font-weight:normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin-bottom: 21px;
  font-weight: bold;
}


h1 {
}

h2 {
  /* font-size: 24 / 14 = size in ems
  21 / 24 = line height */
  /* 24px */
  font-size: 1.714285em;
  line-height: 0.875em;
}

h3 {
  /* 22px */
  font-size: 1.571428em;
  line-height: 0.954545em;
}



/*
---- NEWSFEED ----
 */
  #newsfeed ol {
    list-style-type:none; 
}
#newsfeed ol li {
  display:block;
  background:#ddd;
  border-radius:8px;
  padding:10px;
  margin-bottom:6px;
  font-size:12px;
  background:
  -moz-box-shadow: 0 0 3px #888;
  -webkit-box-shadow: 0 0 3px #888;
  box-shadow: 0 0 3px #888;
}

#newsfeed ol li p img { float: right; }
#newsfeed p { margin-bottom:0; }

#content { margin-top: 21px; min-height:100%; }

p { margin-bottom:21px; }

/*
---- FOOTER ----
 */
  div#footer {
    margin-top:42px;
    /* serif for the headers - nice contrast */
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    background-color:#333;
    color:white;
    padding:10px 0;
    border-radius: 10px 10px 0 0;
}
#footer a { color: #499DF2; }

/*
 * Images
 */

.image { position:relative; display:inline-block; }
.image p { margin-bottom:0; }
.image img { margin-bottom:5px; }
#center-block { margin: 0 auto; margin-bottom:21px; }
#left { float: left; margin: 5px 15px 5px 0px; clear:both; }
#right { float: right; margin: 5px 0px 5px 15px; clear:both; }
.caption {
    position:absolute;
    bottom:5px;
    right:0;
    padding:5px;
    color:white;
    font-size:12px;
    background:rgba(0,0,0,0.5);
}
