html {
   color: #222;
   font: 15px/1.6 Georgia, serif;
}

body {
   background: #38753F;
}

/* -------------------- */
/*     Typography       */
/* -------------------- */
div.rtext p,
div.rtext ol,
div.rtext ul,
div.rtext h1,
div.rtext h2,
div.rtext h3,
div.rtext h4,
div.rtext h5,
div.rtext h6 {
  margin-bottom: 24px;
}

div.rtext p:last-child {
  margin-bottom:0px;
}

/*--- HEADINGS ---*/
/* magic number is 15 * 1.6 = 24 */
h1, h2, h3, h4, h5, h6 { font-weight:bold; }

/*--- font-size: desired size / base size ---*/
/*--- line-height: lineheight / desired size ---*/
h1 {
  font-size: 1.6em; /* 24px --> 24 ÷ 15 = 1.6 */
  line-height: 1em; /* 24px --> 24 ÷ 24 = 1 */
}

h2 {
  font-size: 1.466666666em; /* 22px --> 22 ÷ 15 = 1.46666666 */
  line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
}

h3 {
  font-size: 1.33333333em; /* 20px --> 20 ÷ 15 = 1.3333333 */
  line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
}

h4 {
  font-size: 1.2em; /* 18px --> 18 ÷ 15 = 1.2 */
  line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5, h6 {
  font-size: 1.06666666em; /* 16px --> 16 ÷ 15 = 1.066666666 */
  line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}

/* -------------------- */
/*     Spacing          */
/* -------------------- */
ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left:40px; /* reset margin-left in ol.socialfeed li, #nav li */
}

/* ------------------- */
/*     Layout          */
/* ------------------- */

#frametainer {
   background: #e9e9e9;
   width:1040px;
   margin:0 auto;
}

#container {
   width: 960px;
   margin:0 auto;
}

.block {
   padding: 15px;
   margin-bottom: 20px;
   background: white;
   box-sizing: border-box;
}

.post {
  margin-bottom:10px;
}

.snapshot {
   border:1px #666 solid;
   padding:6px;
   box-shadow: 3px 3px 5px #ccc;
}

.newsleft {
  float:left;
  margin-right:12px;
  margin-top:6px;
}

ol.socialfeed {
   list-style-type:none;
}

ol.socialfeed li {
   display:block;
   font-size:14px;
   margin-left:0;
   margin-bottom:18px;
}

ol.socialfeed a.feed { font-weight:bold; text-decoration:none; }
ol.socialfeed a.feed:hover { text-decoration:underline; }

ol.socialfeed li p img { float:right; }

.leftcol {
   width:660px;
   float:left;
   margin-right:20px;
}

.rightcol {
   float:left;
   width:280px;
}

.footer {
   clear:both;
}

p.content { border-bottom:1px dotted silver; }
a.readmore { float:right; font-style:italic; }
div.post a.readmore { text-align:right; float:none; }

.block a {
   color: #437BDE;
}


/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li {
	float:left;
    margin-left:0px;
	margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;
}
#nav a:hover{
	color:#fff;
	background:#6b0c36;
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#6b0c36;
	text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333;
}

img.ribbon { position:relative; left:-27px;}

/* -------------------- */
/*     Clearfix         */
/* -------------------- */
.clearfix:before, .clearfix:after { content: "020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

