{% load feincms_thumbnail %}
<div id="entry_archive">
  {% for post in latest|slice:":3" %}
  <div class="post">
    <a class="frame" href="{{ post.photo.file.url }}">
      <img class="snapshot newsleft" src='{{ post.photo.file|thumbnail:"100x100" }}' />
    </a>
    <h3>{{ post.headline }}</h3>
    <p>
      <span class="date">Scheduled for {{ post.event_date|date:"F j, Y" }}</span>
      <a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ post.headline }}&dates={{ post.event_date|date:"Ymd/Ymd" }}&sprop=website:www.theallianceforappalachia.org&sprop=name:The Alliance for Appalachia"><img src="//www.google.com/calendar/images/ext/gc_button6.gif"></a>
    </p>
    <p>{{ post.body|removetags:"p br"|safe|truncatewords_html:50 }}
    <a class="readmore" href="{{ post.get_absolute_url }}#news">Read more »</a>
    </p>
    <div class="clearfix"></div>
  </div>
  {% endfor %}
</div>
