<!DOCTYPE html>
<html>
  <head>
    <title>404 - Page not found | The Alliance for Appalachia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <style>
      body { width: 600px; margin:0 auto; color:#333; background:whitesmoke; }
      #container { margin: 21px 0 21px 0; padding:20px; background:white; border:1px solid silver; box-shadow: 2px 2px 5px #ccc; }
    </style>
  </head>

  <body>
    <div id="container">
      <h1>404 - Page not found</h1>
      <p>We couldn't find the page you were looking for!</p>
      <p>If you believe this is an error on our part, let us know at 
      <a href="mailto:contact@theallianceforappalachia.org?subject=404%20Page%20%not%20found%20Error">
        contact@theallianceforappalachia.org
      </a>
      </p>
      <p><a href="/">&laquo; Return to The Alliance for Appalachia</a></p>
    </div>
  </body>
</html>
