{% extends "base.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}
{% load static %}

{% block header %}
<img src="{{ STATIC_URL }}img/header-member-groups.jpg">
{% endblock %}

{% block content %}
<div class="rtext">
  <div class="leftcol block">
    {% feincms_render_region feincms_page "main" request %}
  </div>
</div>

<div class="rightcol">
  {% for content in feincms_page.content.sidebar %}
  <div class="block">
    {% feincms_render_content content request %}
  </div>
  {% endfor %}
</div>

<div class="clearfix"></div>
{% endblock %}
