{% extends "base.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}
{% load static %}

{% block bodyid %}id="home"{% endblock %}

{% block content %}

<div class="block" id="underheader">
  <img class="ribbon" src="{% get_static_prefix %}img/takeaction-ribbon.png">
  {% feincms_render_region feincms_page "subhead" request %}
</div>

<div class="leftcol">
  <div id="news" class="block">
    <img class="ribbon" src="{% get_static_prefix %}img/aroundthecorner-ribbon.png">
    {% feincms_render_region feincms_page "news" request %}
  </div>

  <div id="calendar" class="block">
    <img class="ribbon" src="{% get_static_prefix %}img/calendar-ribbon.png">
    {% feincms_render_region feincms_page "calendar" request %}
  </div>
</div>

<div class="rightcol">
  <div id="socialmedia" class="block">
    <img class="ribbon" src="{% get_static_prefix %}img/socialmedia-ribbon.png">
    {% feincms_render_region feincms_page "sidebar" request %}
  </div>
  <div id="contact" class="block">
    {% feincms_render_region feincms_page "contact" request %}
  </div>
</div>

<div class="clearfix"></div>

{% endblock %}
